<section class="section-books">
  <div class="books-cont container">
    <div class="books-navigation-cont">
      <div class="books-title-cont">
        <h2 class="books-title visually-hidden">Trending books</h2>
        <h3 class="books-subtitle">Books</h3>
        <span class="books-counter"></span>
      </div>
      <div class="dropdown">
        <button class="dropdown-btn" type="button">
          <span class="dropdown-btn-text">Categories</span>
          <svg class="btn-icon-categories" width="12" height="8">
            <use href="../img/sprite.svg#icon-arrow-down"></use>
          </svg>
        </button>
        <ul class="books-dropdown-menu visually-hidden"></ul>
      </div>
    </div>
    <div class="book-list-cont">
      <ul class="books-list"></ul>
      <p class="empty-message visually-hidden">
        Looks like this category is empty. Feel free to explore another one!
      </p>
      <button type="button" class="show-more-btn visually-hidden">
        Show More
      </button>
    </div>
  </div>
</section>
