<section class="hero">
  <div class="container">
    <div class="swiper-container">
      <ul class="swiper-wrapper">
        <!-- Слайд 1 -->
        <li class="swiper-banner">
          <div class="banner-content">
            <picture>
              <source
                srcset="
                  ../img/hero-img/banner-1.jpg,
                  ../img/hero-img/banner-1@2x.jpg
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ../img/hero-img/banner.tablet-1.jpg,
                  ../img/hero-img/banner.tablet-1@2x.jpg
                "
                media="(min-width:768px)"
              />
              <img
                src="../img/hero-img/banner.mobile-1.jpg"
                srcset="../img/hero-img/banner.mobile-1@2x.jpg"
                alt="Banner 1"
                loading="lazy"
              />
            </picture>
            <div class="banner-overlay">
              <h2 class="banner-title">Get 10% off your first order</h2>
              <button class="banner-btn">Shop Now!</button>
            </div>
          </div>
        </li>
        <!-- Слайд 2 -->
        <li class="swiper-banner">
          <div class="banner-content">
            <picture>
              <source
                srcset="
                  ../img/hero-img/baner-2.jpg,
                  ../img/hero-img/baner-2@2x.jpg
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ../img/hero-img/banner.tablet-2.jpg,
                  ../img/hero-img/banner.tablet-2@2x.jpg
                "
                media="(min-width:768px)"
              />
              <img
                src="../img/hero-img/banner.mobile-2.jpg"
                srcset="../img/hero-img/banner.mobile-2@2x.jpg"
                alt="Banner 1"
                loading="lazy"
              />
            </picture>
            <div class="banner-overlay">
              <h2 class="banner-title">Save 15% on some books</h2>
              <button class="banner-btn">Shop Now!</button>
            </div>
          </div>
        </li>
        <!-- Слайд 3 -->
        <li class="swiper-banner">
          <div class="banner-content">
            <picture>
              <source
                srcset="
                  ../img/hero-img/baner-3.jpg,
                  ../img/hero-img/baner-3@2x.jpg
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ../img/hero-img/banner.tablet-3.jpg,
                  ../img/hero-img/banner.tablet-3@2x.jpg
                "
                media="(min-width:768px)"
              />
              <img
                src="../img/hero-img/banner.mobile-3.jpg"
                srcset="../img/hero-img/banner.mobile-3@2x.jpg"
                alt="Banner 1"
                loading="lazy"
              />
            </picture>
            <div class="banner-overlay">
              <h2 class="banner-title">Summer Sale! Up to -40% discounts</h2>
              <button class="banner-btn">Shop Now!</button>
            </div>
          </div>
        </li>
        <!-- Слайд 4 -->
        <li class="swiper-banner">
          <div class="banner-content">
            <picture>
              <source
                srcset="
                  ../img/hero-img/baner-4.jpg,
                  ../img/hero-img/baner-4@2x.jpg
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ../img/hero-img/banner.tablet-3.jpg,
                  ../img/hero-img/banner.tablet-3@2x.jpg
                "
                media="(min-width:768px)"
              />
              <img
                src="../img/hero-img/banner.mobile-3.jpg"
                srcset="../img/hero-img/banner.mobile-3@2x.jpg"
                alt="Banner 1"
                loading="lazy"
              />
            </picture>
            <div class="banner-overlay">
              <h2 class="banner-title">
                Last chance to buy our spring bestsellers
              </h2>
              <button class="banner-btn">Shop Now!</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="hero-title-container">
      <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
      <div class="nav-button-container">
        <button
          id="prevBtn"
          class="slider-btn prev-btn"
          aria-label="Previous slide"
        >
          <img src="../img/hero-img/hero-svg/prev-icon.svg" alt="" />
        </button>

        <button
          id="nextBtn"
          class="slider-btn next-btn"
          aria-label="Next slide"
        >
          <img src="../img/hero-img/hero-svg/next-icon.svg" alt="" />
        </button>
      </div>
    </div>
  </div>
</section>
