.swiper {
  width: 100%;
  max-width: 1440px;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
}

.swiper-slide picture,
.swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.slide-content,
.slide-overlay {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: #fff;
  z-index: 2;
}

.slide-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  color: #fff;
}

.slide-btn {
  margin-top: 16px;
  background: #e15d05;
  border-radius: 2px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 0.52px solid #e15d05;
  border-radius: 2px;
  padding: 4px 10px;
  width: 117px;
  height: 20px;
}

.slide-btn:hover {
  transition: 0.3s;
  background: #0b0500;
  border: 1px solid #0b0500;
  border-radius: 4px;
}
.hero-title-nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  align-items: center;
}
.hero-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0b0500;
}
.nav-button-container {
  display: flex;
  gap: 24px;
}
@media (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-prev,
.swiper-button-next {
  border: 1px solid rgba(11, 5, 0, 0.15);
  padding: 12px;
  width: 48px;
  height: 48px;
  background: #e15d05;
  fill: #fff;
  cursor: pointer;
  align-content: center;
}

.swiper-button-prev.disabled,
.swiper-button-next.disabled {
  border: 1px solid rgba(11, 5, 0, 0.15);
  background: #e15d05;
  opacity: 0.2;
}

/* Tablet (768px+)*/
@media (min-width: 768px) {
  .slide-title {
    font-size: 32px;
    line-height: 1.2;
  }
  .break {
    display: block;
  }
  .slide-btn {
    padding: 4px 20px;
    width: 164px;
    height: 32px;
    font-size: 12px;
    border-radius: 4px;
  }

  .slide-content,
  .slide-overlay {
    bottom: 32px;
    left: 40px;
    max-width: 500px;
  }
  .break-title {
    display: block;
  }
}

/* Desktop (1440px+)*/
@media (min-width: 1440px) {
  .slide-title {
    font-size: 52px;
    line-height: 1.2;
  }

  .slide-content,
  .slide-overlay {
    bottom: 56px;
    left: 56px;
    max-width: 600px;
  }

  .slide-btn {
    padding: 8px 20px;
    width: 227px;
    height: 40px;
    font-size: 16px;
    display: block;
    text-align: center;
  }

  .hero-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #0b0500;
  }
  .break-title {
    display: inline;
  }
}
